@model User
@inject Microsoft.AspNetCore.Identity.UserManager<User> userManager

<dl>
    <dt>Firstname & Lastname</dt>
    <dd>@Model.Firstname @Model.Lastname</dd>
    <dt>Email</dt>
    <dd>@Model.Email</dd>
</dl>

<table class="table table-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in await userManager.GetRolesAsync(Model))
        {
            <tr>
                <td>@item</td>
                <td>
                    <a asp-area="Admin" asp-controller="User" asp-action="Delete" asp-route-userid="@Model.Id" asp-route-role="@item" class="btn btn-info">Delete Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>

